asgiref==3.8.1
backports.zoneinfo==0.2.1
crispy-bootstrap5==2025.6
Django==4.2
django-crispy-forms==2.4
pillow==10.4.0
pymysql==1.1.2
python-dotenv==1.0.1
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2